body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #c39bd3;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #800099
;
}

form {
    display: inline-block;
    text-align: left;
    background: #7dcea0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 120px);
    border: 1px solid #ccc;
    border-radius: 5px;
}
